<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>原页面显示this->error</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
</head>
<body>

<div>
    <!--主体-->
    
    <form action="" method="post">
        <button class="layui-btn" lay-submit lay-filter="*">更新</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </form>
    
    <!--主体-->
</div>

<script>
    // 定义全局JS变量
    var GV = {
        current_controller: "admin/{$controller|default=''}/",
        base_url: "__STATIC__"
    };
</script>
<!--JS引用-->

<script src="{$cdomain}__PTSTA__/dist/js/jquery.min.js"></script>
<link rel="stylesheet" href="{$cdomain}__PTSTA__/plugins/layui/css/layui.css" media="all">
<script src="{$cdomain}__PTSTA__/plugins/layui/lay/dest/layui.all.js"></script>
<script src="{$cdomain}__PTSTA__/dist/js/func.js"></script>

</body>
</html>