{extend name="base" /}
{block name="body"}    
<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">案例列表</h3>
                </div>
                <!-- search -->
                <div class="panel-body mb0">
                    <div class="navbar navbar-default mb0">
                        <form class="navbar-form form-inline" method="post" action="">
                            <div class="form-group">
                                <div class="layui-inline">分类：
                                    <div class="layui-input-inline">
                                        <select name="cid" class='form-control valid'>
                                            <option value="0">全部</option>
                                            {foreach name="category_level_list" item="vo"}
                                            <option value="{$vo.id}" {if condition="$cid==$vo.id"} selected="selected"{/if}>{neq name="vo.level" value="1"}|{php}for($i=1;$i<$vo['level'];$i++){echo ' ----';}{/php}{/neq} {$vo.name}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                                <label class="control-label">标题:</label>
                                <div class="input-group">
                                    <input type="text" class="input-sm" placeholder="标题" value="{$keyword}" name="keyword" />
                                </div>

                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i> 筛选
                                </button>

                            </div>

                            <a href='{:url("Admin/Cases/add")}' class="btn btn-info pull-right">添加案例</a>
                        </form>
                    </div>
                </div>
                <!-- table -->
                <div class="box-body">
                    <div class="table-responsive">
                        <form id="myform" name="myform" action='{:url("Admin/Cases/listorder")}' method="post">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">排序</th>
                                    <th>编号/ID</th>
                                    <th>标题</th>
                                    <th>状态</th>
                                    <th>发布时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                
                                
                                {volist name='article_list' id='vo'}
                                <tr>
                                    <td width="40">
                                        <input name="sort[{$vo['id']}]" type="text" size="3" value="{$vo['sort']}" class="text-center">
                                    </td>
                                    <td>{$vo['id']}</td>
                                    <td><a href='{:url("Admin/Cases/edit",["id"=>$vo["id"]])}'>{$vo['title']}</td>
                                    
                                    <td>
                                      {eq name="vo['status']" value="1"}
                                        <span class="label label-success">显示</span>
                                        {else/}
                                        <span class="label label-danger">隐藏</span>
                                      {/eq}
                                    </td>
                                    <td>{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
                                    <td>
                                        <a href='{:url("admin/Cases/edit",["id"=>$vo["id"]])}' class="btn btn-xs btn-primary">编辑</a>
                                        <a href='{:url("Admin/Cases/delete",["id"=>$vo["id"]])}' onclick="return confirm('确定删除吗?')" lay-filter="*" class="btn btn-xs btn-danger">删除</a>
                                    </td>
                          
                                </tr>
                                {/volist}

                                <tr>
                                    <td colspan="9">
                                        <input class="btn btn-sm btn-primary" lay-submit lay-filter="*" type="submit" value="排序" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </form>
                    </div>
                <!--分页-->
                    {$article_list->render()}
                    <!-- /.table-responsive --> 
                </div>
            </div>
        </div>
        
    </div>
    <!-- /.row -->
</section>

{/block}