{include file='header' /}
    <div class="in_banner">
        <img src="__GX__/asset/images/w1920h400.png" style="background:url('__GX__/asset/images/18.png') no-repeat center center/cover;" class="img-responsive" alt="">
        <div class="in_ban_cont">
            <p><i>公司简介</i></p>
            <span>PROFILE</span>
        </div>
    </div>
    <div class="aboutus">
        <div class="container">
            <div class="in_main_title in_title_pd">
                <h4>PROFILE</h4>
                <p>公司简介</p>
            </div>
            <div class="aboutus_cont">
                <p><img src="__GX__/asset/images/16.png" alt=""></p>
                <p>公司简介</p>
            </div>
        </div>
        <div class="ab_cpintro">
            <img src="__GX__/asset/images/w1920h400.png" style="background:url('__GX__/asset/images/18.png') no-repeat center center/cover;" class="img-responsive" alt="">
            <div class="in_banner_cont">
                <p>CULTURE</p>
                <p>企业文化</p>
                <h4>
                    <span>诚以聚人</span>
                    <span>信以筑梦</span>
                    <span>漳以成渊</span>
                </h4>
            </div>
        </div>
        <div class="in_main_title in_title_pd">
            <h4>HONOR</h4>
            <p>资质荣誉</p>
        </div>
        <div class="container">
            <div class="ab_cpintrolis">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <div class="ab_cpintroimg"><img src="__GX__/asset/images/w600h450.png" style="background:url('__GX__/asset/images/15.png') no-repeat center center/cover;" class="img-responsive" alt=""></div>
                      </div>
                      <div class="swiper-slide">
                          <div class="ab_cpintroimg"><img src="__GX__/asset/images/w600h450.png" style="background:url('__GX__/asset/images/15.png') no-repeat center center/cover;" class="img-responsive" alt=""></div>
                      </div>
                      <div class="swiper-slide">
                          <div class="ab_cpintroimg"><img src="__GX__/asset/images/w600h450.png" style="background:url('__GX__/asset/images/15.png') no-repeat center center/cover;" class="img-responsive" alt=""></div>
                      </div>
                      <div class="swiper-slide">
                          <div class="ab_cpintroimg"><img src="__GX__/asset/images/w600h450.png" style="background:url('__GX__/asset/images/15.png') no-repeat center center/cover;" class="img-responsive" alt=""></div>
                      </div>
                      <div class="swiper-slide">
                          <div class="ab_cpintroimg"><img src="__GX__/asset/images/w600h450.png" style="background:url('__GX__/asset/images/15.png') no-repeat center center/cover;" class="img-responsive" alt=""></div>
                      </div>
                      
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
{include file='footer' /}