{include file='header' /}
    <div class="in_banner">
        <img src="__GX__/asset/images/w1920h400.png" style="background:url('__GX__/asset/images/18.png') no-repeat center center/cover;" class="img-responsive" alt="">
        <div class="in_ban_cont">
            <p><i>专家团队</i></p>
            <span>TEAM</span>
        </div>
    </div>
    <div class="aboutus">
        <div class="container">
            <div class="in_main_title in_title_pd">
                <h4>TEAM</h4>
                <p>{$info.name}</p>
            </div>
            <div class="ab_teams">
                <ul>
                    <li>
                        <a href="##">
                            <div class="ab_teams_img"><img src="__GX__/asset/images/w600h450.png" style="background:url('__GX__/asset/images/13.png') no-repeat center center/cover;" class="img-responsive" alt=""></div>
                            <div class="ab_teams_cont">
                                <p>吴金滨先生，台湾人，日本东京大学药学博士，中国医药大学教授、药学院院长，日本医科大学特任教授，中国沈阳医科大学、深圳清华大学研究院客座教授。
                                </p>
                                <p>吴金滨教授在药学、天然药物及中草药研究领域享有国际令誉，获聘主持29项研究计划，是《台湾骨碎补抗骨质疏松健康食品之开发》的国科会产学合作计划与技术移转《筛选生物活性转换酵素之最适化菌株》计划主持人，发明专利技术转移多达11项，发表期刊30多篇，获聘参与日本文部科学省补助日本大学的《分子药学为基础的学术领域推进事业》计划（总金额10亿日元）。曾荣获台湾国科会《95年技术移转奖励个案》第一名最高额奖助金，及98年度中国医药大学产业合作案单一案件最高经费表扬。</p>
                                <h4>技术专家 <span>吴金滨</span></h4>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{include file='footer' /}