{include file='header' /}
    <div class="in_banner">
        <img src="__GX__/asset/images/w1920h400.png" style="background:url('__GX__/asset/images/18.png') no-repeat center center/cover;" class="img-responsive" alt="">
        <div class="in_ban_cont">
            <p><i>关于我们</i></p>
            <span>NEWS</span>
        </div>
    </div>
    <div class="aboutus">
        <div class="container">
            <div class="in_main_title in_title_pd">
                <h4>SPEECH</h4>
                <p>董事长致辞</p>
            </div>
            <div class="aboutus_cont">
                <p><img src="__GX__/asset/images/16.png" alt=""></p>
            </div>
        </div>
    </div>
{include file='footer' /}