{include file='header' /}
    <div class="in_banner">
        <img src="__GX__/asset/images/w1920h400.png" style="background:url('__GX__/asset/images/18.png') no-repeat center center/cover;" class="img-responsive" alt="">
        <div class="in_ban_cont">
            <p><i>关于我们</i></p>
            <span>CONTACT</span>
        </div>
    </div>
    <div class="aboutus">
        <div class="container">
            <div class="in_main_title in_title_pd">
                <h4>CONTACT</h4>
                <p>联系我们</p>
            </div>
            <div class="contactus_cont row">
                <div class="contactus_cl col-sm-5">
                    <div class="contactus_cbox">
                        <h4>云南巨漳生物科技有限公司</h4>
                        <p>地址：云南省昆明市呈贡区春融街779号上海东盟大厦A座406室</p>
                        <p>邮箱：juzhang@163.com</p>
                        <p>电话：13603063271</p>
                        <div class="contactus_img">
                            <img src="__GX__/asset/images/QRcode.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="contactus_cr col-sm-7">
                    <div class="contactus_map">
                        <img src="__GX__/asset/images/map.jpg" style="width:100%" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{include file='footer' /}