{include file='header' /}
<div class="gydm_banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {volist name="$slide_index" id="vo"}
            <div class="swiper-slide">
                <div class="gydm_bannerbox">
                    <img src="{$vo.image}" style="background:url('__GX__/asset/images/banner.jpg') no-repeat center center/cover;" class="img-responsive" alt="">
                </div>
            </div>
            {/volist}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="gydm_about paddingbox">
    <div class="containers">
        <div class="gydm_titles">
            <h4>关于我们</h4>
            <p><img src="__GX__/asset/images/line.jpg" alt=""></p>
        </div>
        <div class="gydm_about_cont">
            <p>云南巨漳生物科技有限公司（简称“巨漳生物”）成立于2018年，注册资本3000万元人民币，位于云南省昆明市呈贡新区上海东盟商务大厦A座6楼，是巨漳生物科技C（深圳）有限公司全资子公司，是一家以大健康产品为研究方向的生物科技公司。本着“诚以聚人，信以筑梦，漳以成渊”的理念，巨漳生物汇集了从事工业大麻研究、种植、加工、熟知工业大麻行业运营、管理以及具有丰富资本市场运作经验的多个专业团队。</p>
            <div class="gydm_ab_btn">
                <a href="./aboutus.html">查看详情 <i>&gt;&gt;</i></a>
            </div>
        </div>
    </div>
</div>
<div class="show_list">
    <ul>
        <li class="">
            <div class="show_listbox dis_flex">
                <div class="show_liscont flex1">
                    <div class="show_cbox">
                        <div class="show_listitle">
                            <p><img src="__GX__/asset/images/2.png" alt=""></p>
                            <h4>大麻二酚</h4>
                            <p>Cannabidiol</p>
                        </div>
                        <div class="show_contents">
                            <p>大麻酚　一种麻醉药，分子式C21H26O2。它存在于大麻叶中,有止咳、镇痉、止痛、镇静、安眠等活性。为一种嗜好品，吸食后产生精神愉快感，能致习惯性，应用时应小心。大麻叶中含有多种大麻酚类衍生物，已分离到15种以上,较重要的有:大麻酚、大麻二酚、四氢大麻酚、大麻酚酸、大麻二酚</p>
                            <div class="show_btns"><a href="./product_detail.html">查看详情 <i>&gt;&gt;</i></a></div>
                        </div>
                    </div>
                </div>
                <div class="show_lisimg flex1">
                    <img src="__GX__/asset/images/w1000h550.png" style="background:url('__GX__/asset/images/1.jpg') no-repeat center center/cover;" class="img-responsive" alt="">
                </div>
            </div>
        </li>
        <li>
            <div class="show_listbox dis_flex">
                <div class="show_lisimg flex1">
                    <img src="__GX__/asset/images/w1000h550.png" style="background:url('__GX__/asset/images/1.jpg') no-repeat center center/cover;" class="img-responsive" alt="">
                </div>
                <div class="show_liscont flex1">
                    <div class="show_cbox">
                        <div class="show_listitle">
                            <p><img src="__GX__/asset/images/3.png" alt=""></p>
                            <h4>大麻二酚</h4>
                            <p>Cannabidiol</p>
                        </div>
                        <div class="show_contents">
                            <p>大麻酚　一种麻醉药，分子式C21H26O2。它存在于大麻叶中,有止咳、镇痉、止痛、镇静、安眠等活性。为一种嗜好品，吸食后产生精神愉快感，能致习惯性，应用时应小心。大麻叶中含有多种大麻酚类衍生物，已分离到15种以上,较重要的有:大麻酚、大麻二酚、四氢大麻酚、大麻酚酸、大麻二酚</p>
                            <div class="show_btns"><a href="./product_detail.html">查看详情 <i>&gt;&gt;</i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="gydm_yy paddingbox">
    <img src="__GX__/asset/images/6.jpg" class="gydm_yyright" alt="">
    <img src="__GX__/asset/images/5.jpg" class="gydm_yyleft" alt="">
    <div class="gydm_titles">
        <h4>工业大麻应用</h4>
        <p><img src="__GX__/asset/images/line.jpg" alt=""></p>
    </div>
    <div class="containers">
        <ul class="dis_flex gydm_yylist">
            <li class="flex1">
                <div class="gydm_yybox">
                    <div class="gydm_yyimg"><img src="__GX__/asset/images/w300h300.png" style="background:url('__GX__/asset/images/4.png') no-repeat center center/cover;" class="img-responsive" alt=""></div>
                    <h4>籽的利用</h4>
                    <p>大麻籽易于消化，比奇亚籽或亚麻籽的蛋白质含量更高，是一种健康食品。</p>
                </div>
            </li>
            <li class="flex1">
                <div class="gydm_yybox">
                    <div class="gydm_yyimg"><img src="__GX__/asset/images/w300h300.png" style="background:url('__GX__/asset/images/4.png') no-repeat center center/cover;" class="img-responsive" alt=""></div>
                    <h4>纤维利用</h4>
                    <p>大麻籽易于消化，比奇亚籽或亚麻籽的蛋白质含量更高，是一种健康食品。</p>
                </div>
            </li>
            <li class="flex1">
                <div class="gydm_yybox">
                    <div class="gydm_yyimg"><img src="__GX__/asset/images/w300h300.png" style="background:url('__GX__/asset/images/4.png') no-repeat center center/cover;" class="img-responsive" alt=""></div>
                    <h4>花叶利用</h4>
                    <p>大麻籽易于消化，比奇亚籽或亚麻籽的蛋白质含量更高，是一种健康食品。</p>
                </div>
            </li>
            <li class="flex1">
                <div class="gydm_yybox">
                    <div class="gydm_yyimg"><img src="__GX__/asset/images/w300h300.png" style="background:url('__GX__/asset/images/4.png') no-repeat center center/cover;" class="img-responsive" alt=""></div>
                    <h4>杆的利用</h4>
                    <p>大麻籽易于消化，比奇亚籽或亚麻籽的蛋白质含量更高，是一种健康食品。</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="gydm_news paddingbox" style="background:url('__GX__/asset/images/8.jpg') no-repeat center center/cover;">
    <div class="containers">
        <div class="gydm_titles">
            <h4>新闻资讯</h4>
            <p><img src="__GX__/asset/images/line.jpg" alt=""></p>
        </div>
        <div class="gydm_tabs">
            <div class="gydm_tabs_nav">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#gydm_new1" aria-controls="gydm_new1" role="tab" data-toggle="tab">行业新闻</a></li>
                    <li role="presentation"><a href="#gydm_new2" aria-controls="gydm_new2" role="tab" data-toggle="tab">公司新闻</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="gydm_new1">
                    <div class="gydm_newsbox row">
                        <div class="gydm_newsbl col-sm-6">
                            <a href="./news_detail.html">
                                <div class="gydm_newsblimg">
                                    <img src="__GX__/asset/images/w900h700.png" style="background:url('__GX__/asset/images/11.png') no-repeat center center/cover;" class="img-responsive" alt="">
                                </div>
                                <div class="gydm_newsblcont">
                                    <h4><i></i>云南巨漳生物科技有限公司古景腾董事长调研考察</h4>
                                    <p>云南巨漳生物科技有限公司古景腾董事长调研考察云南巨漳生物科技有限公司古景腾董事长调研考察</p>
                                    <img src="__GX__/asset/images/left.png" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="gydm_newsbr col-sm-6">
                            <a href="./news_detail.html">
                                <div class="gydm_newsbrimg"><img src="__GX__/asset/images/w900h340.png" style="background:url('./__GX__/asset/images/10.png') no-repeat center center/cover;" class="img-responsive" alt=""></div>
                                <div class="gydm_newsbrcont">
                                    <p class="line1"><i></i>云南巨漳生物科技有限公司古景腾董事长调研考察<img src="__GX__/asset/images/left.png" alt=""></p>
                                </div>
                            </a>
                            <a href="./news_detail.html">
                                <div class="gydm_newsbrimg"><img src="__GX__/asset/images/w900h340.png" style="background:url('./__GX__/asset/images/10.png') no-repeat center center/cover;" class="img-responsive" alt=""></div>
                                <div class="gydm_newsbrcont">
                                    <p class="line1"><i></i>云南巨漳生物科技有限公司古景腾董事长调研考察<img src="__GX__/asset/images/left.png" alt=""></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="gydm_new2">...</div>
            </div>
        </div>
    </div>
</div>
{include file='footer' /}