{include file='header' /}
    <div class="in_banner">
        <img src="__GX__/asset/images/w1920h400.png" style="background:url('__GX__/asset/images/18.png') no-repeat center center/cover;" class="img-responsive" alt="">
        <div class="in_ban_cont">
            <p><i>麻学院</i></p>
            <span>COLLEGE</span>
        </div>
    </div>
    <div class="aboutus">
        <div class="container">
            <div class="in_main_title in_title_pd">
                <h4>COLLEGE</h4>
                <p>麻学院</p>
            </div>
            <div class="maxueyuan_list">
                <ul>
                    <li>
                        <a href="./news_detail.html">
                            <h4>知道大麻二酚(CBD)吗？它竟然能改善健身效果</h4>
                            <p>为了了解大麻二酚如何影响锻炼效果，重要的是要认识大麻二酚是什么。大麻二酚简称CBD，是药用植物大麻中的主要化学成分（也是大麻中100多种称为大麻素的化合物之一）。注册营养师DonnaShields解释说：“大麻素在结构上与人体自然产生的内源性大麻素类似，而且大麻素闻名的原因是它能够让人感觉良好。</p>
                            <span>2018-09-17</span>
                        </a>
                    </li>
                    <li>
                        <a href="./news_detail.html">
                            <h4>知道大麻二酚(CBD)吗？它竟然能改善健身效果</h4>
                            <p>为了了解大麻二酚如何影响锻炼效果，重要的是要认识大麻二酚是什么。大麻二酚简称CBD，是药用植物大麻中的主要化学成分（也是大麻中100多种称为大麻素的化合物之一）。注册营养师DonnaShields解释说：“大麻素在结构上与人体自然产生的内源性大麻素类似，而且大麻素闻名的原因是它能够让人感觉良好。</p>
                            <span>2018-09-17</span>
                        </a>
                    </li>
                    <li>
                        <a href="./news_detail.html">
                            <h4>知道大麻二酚(CBD)吗？它竟然能改善健身效果</h4>
                            <p>为了了解大麻二酚如何影响锻炼效果，重要的是要认识大麻二酚是什么。大麻二酚简称CBD，是药用植物大麻中的主要化学成分（也是大麻中100多种称为大麻素的化合物之一）。注册营养师DonnaShields解释说：“大麻素在结构上与人体自然产生的内源性大麻素类似，而且大麻素闻名的原因是它能够让人感觉良好。</p>
                            <span>2018-09-17</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="news_cmnavs">
                    <ul>
                        <li class="news_prev"><a href="##"><i class="glyphicon glyphicon-menu-left"></i></a></li>
                        <li class="active"><a href="##"><span>1</span></a></li>
                        <li><a href="##"><span>2</span></a></li>
                        <li><a href="##"><span>3</span></a></li>
                        <li class="news_next"><a href="##"><i class="glyphicon glyphicon-menu-right"></i></a></li>
                    </ul>
                </div>
        </div>
    </div>
{include file='footer' /}