{include file='header' /}
    <div class="in_banner">
        <img src="__GX__/asset/images/w1920h400.png" style="background:url('__GX__/asset/images/18.png') no-repeat center center/cover;" class="img-responsive" alt="">
        <div class="in_ban_cont">
            <p><i>产品中心</i></p>
            <span>PRODUCT</span>
        </div>
    </div>
    <div class="product_detail">
        <div class="container">
            <div class="product_detail_title">
                <h4>云南巨漳生物科技有限公司古景腾董事长</h4>
            </div>
            <div class="news_detail_cont">
                <p><img src="__GX__/asset/images/12.png" alt=""></p>
                <p>云南巨漳生物科技有限公司古景腾董事长云南巨漳生物科技有限公司古景腾董事长</p>
            </div>
            <div class="news_detail_fnavs">
                <ul>
                    <li><a href="##">上一篇</a></li>
                    <li><a href="##">返回</a></li>
                    <li><a href="##">下一篇</a></li>
                </ul>
            </div>
        </div>
    </div>
{include file='footer' /}