{include file='header' /}
    <div class="in_banner">
        <img src="__GX__/asset/images/w1920h400.png" style="background:url('__GX__/asset/images/18.png') no-repeat center center/cover;" class="img-responsive" alt="">
        <div class="in_ban_cont">
            <p><i>产品中心</i></p>
            <span>PRODUCT</span>
        </div>
    </div>
    <div class="product_center">
        <div class="container">
            <div class="in_main_title in_title_pd">
                <h4>PRODUCT</h4>
                <p>产品中心</p>
            </div>
            <div class="show_list">
                <ul>
                    <li class="">
                        <div class="show_listbox dis_flex">
                            <div class="show_liscont flex1">
                                <div class="show_cbox">
                                    <div class="show_listitle">
                                        <p><img src="__GX__/asset/images/2.png" alt=""></p>
                                        <h4>大麻二酚</h4>
                                        <p>Cannabidiol</p>
                                    </div>
                                    <div class="show_contents">
                                        <p class="line3">大麻酚　一种麻醉药，分子式C21H26O2。它存在于大麻叶中,有止咳、镇痉、止痛、镇静、安眠等活性。为一种嗜好品，吸食后产生精神愉快感，能致习惯性，应用时应小心。大麻叶中含有多种大麻酚类衍生物，已分离到15种以上,较重要的有:大麻酚、大麻二酚、四氢大麻酚、大麻酚酸、大麻二酚</p>
                                        <div class="show_btns"><a href="./product_detail.html">查看详情 <i>&gt;&gt;</i></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="show_lisimg flex1">
                                <img src="__GX__/asset/images/w1000h550.png" style="background:url('__GX__/asset/images/1.jpg') no-repeat center center/cover;" class="img-responsive" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show_listbox dis_flex">
                            <div class="show_lisimg flex1">
                                <img src="__GX__/asset/images/w1000h550.png" style="background:url('__GX__/asset/images/1.jpg') no-repeat center center/cover;" class="img-responsive" alt="">
                            </div>
                            <div class="show_liscont flex1">
                                <div class="show_cbox">
                                    <div class="show_listitle">
                                        <p><img src="__GX__/asset/images/3.png" alt=""></p>
                                        <h4>大麻二酚</h4>
                                        <p>Cannabidiol</p>
                                    </div>
                                    <div class="show_contents">
                                        <p class="line3">大麻酚　一种麻醉药，分子式C21H26O2。它存在于大麻叶中,有止咳、镇痉、止痛、镇静、安眠等活性。为一种嗜好品，吸食后产生精神愉快感，能致习惯性，应用时应小心。大麻叶中含有多种大麻酚类衍生物，已分离到15种以上,较重要的有:大麻酚、大麻二酚、四氢大麻酚、大麻酚酸、大麻二酚</p>
                                        <div class="show_btns"><a href="./product_detail.html">查看详情 <i>&gt;&gt;</i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="show_listbox dis_flex">
                            <div class="show_liscont flex1">
                                <div class="show_cbox">
                                    <div class="show_listitle">
                                        <p><img src="__GX__/asset/images/2.png" alt=""></p>
                                        <h4>大麻二酚</h4>
                                        <p>Cannabidiol</p>
                                    </div>
                                    <div class="show_contents">
                                        <p class="line3">大麻酚　一种麻醉药，分子式C21H26O2。它存在于大麻叶中,有止咳、镇痉、止痛、镇静、安眠等活性。为一种嗜好品，吸食后产生精神愉快感，能致习惯性，应用时应小心。大麻叶中含有多种大麻酚类衍生物，已分离到15种以上,较重要的有:大麻酚、大麻二酚、四氢大麻酚、大麻酚酸、大麻二酚</p>
                                        <div class="show_btns"><a href="./product_detail.html">查看详情 <i>&gt;&gt;</i></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="show_lisimg flex1">
                                <img src="__GX__/asset/images/w1000h550.png" style="background:url('__GX__/asset/images/1.jpg') no-repeat center center/cover;" class="img-responsive" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="show_listbox dis_flex">
                            <div class="show_lisimg flex1">
                                <img src="__GX__/asset/images/w1000h550.png" style="background:url('__GX__/asset/images/1.jpg') no-repeat center center/cover;" class="img-responsive" alt="">
                            </div>
                            <div class="show_liscont flex1">
                                <div class="show_cbox">
                                    <div class="show_listitle">
                                        <p><img src="__GX__/asset/images/3.png" alt=""></p>
                                        <h4>大麻二酚</h4>
                                        <p>Cannabidiol</p>
                                    </div>
                                    <div class="show_contents">
                                        <p class="line3">大麻酚　一种麻醉药，分子式C21H26O2。它存在于大麻叶中,有止咳、镇痉、止痛、镇静、安眠等活性。为一种嗜好品，吸食后产生精神愉快感，能致习惯性，应用时应小心。大麻叶中含有多种大麻酚类衍生物，已分离到15种以上,较重要的有:大麻酚、大麻二酚、四氢大麻酚、大麻酚酸、大麻二酚</p>
                                        <div class="show_btns"><a href="./product_detail.html">查看详情 <i>&gt;&gt;</i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{include file='footer' /}