{include file='header' /}
    <div class="in_banner">
        <img src="__GX__/asset/images/w1920h400.png" style="background:url('__GX__/asset/images/18.png') no-repeat center center/cover;" class="img-responsive" alt="">
        <div class="in_ban_cont">
                <p><i>人力资源</i></p>
                <span>MANPOWER</span>
            </div>
    </div>
    <div class="aboutus">
        <div class="container">
            <div class="in_main_title in_title_pd">
                <h4>MANPOWER</h4>
                <p>人力资源</p>
            </div>
            <div class="renliziyuan_cont">
                <div class="rlzy_navs">
                    <div class="rlzy_title">职位</div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#rlzy1" aria-controls="rlzy1" role="tab" data-toggle="tab">现场监督</a></li>
                        <li role="presentation"><a href="#rlzy2" aria-controls="rlzy2" role="tab" data-toggle="tab">业务经理</a></li>
                        <li role="presentation"><a href="#rlzy3" aria-controls="rlzy3" role="tab" data-toggle="tab">安全生产员</a></li>
                        <li role="presentation"><a href="#rlzy4" aria-controls="rlzy4" role="tab" data-toggle="tab">技术人员</a></li>
                    </ul>
                </div>
                    
                <div class="rlzy_conts">
                    <div class="rlzy_title">
                        职位描述
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="rlzy1">
                            <div class="rlzy_mainbox">
                                <div class="rlzy_contst">业务经理 <span>云南</span></div>
                                <div class="rlzy_conts_m">
                                    <h4>职位描述:</h4>
                                    <p>1.职位描述职位描述职位描述</p>
                                    <p>2.职位描述职位描述职位描述职位描述职位描述</p>
                                    <p>3.职位描述职位描述职位描述职位描述职位描述职位描述</p>
                                </div>
                                <div class="rlzy_conts_m">
                                    <h4>任职要求:</h4>
                                    <p>1.任职要求任职要求任职要求</p>
                                    <p>2.任职要求任职要求任职要求任职要求任职要求</p>
                                    <p>3.任职要求任职要求任职要求任职要求任职要求任职要求</p>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="rlzy2">...</div>
                        <div role="tabpanel" class="tab-pane" id="rlzy3">...</div>
                        <div role="tabpanel" class="tab-pane" id="rlzy4">...</div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
{include file='footer' /}