{include file='header' /}
    <div class="in_banner">
        <img src="__GX__/asset/images/w1920h400.png" style="background:url('__GX__/asset/images/18.png') no-repeat center center/cover;" class="img-responsive" alt="">
        <div class="in_ban_cont">
                <p><i>研究发展</i></p>
                <span>RESEARCH</span>
            </div>
    </div>
    <div class="aboutus">
        <div class="container">
            <div class="in_main_title in_title_pd">
                <h4>RESEARCH</h4>
                <p>研究发展</p>
            </div>
            <div class="yjfz_main">
                <ul class="row">
                    <li class="col-xs-6 col-sm-3">
                        <div class="yjfz_mbox">
                            <img src="__GX__/asset/images/w300h300.png" style="background:url('__GX__/asset/images/17.png') no-repeat center center/cover;" class="img-responsive" alt="">
                            <div class="yjfz_mbg"></div>
                            <span>研发团队</span>
                        </div>
                    </li>
                    <li class="col-xs-6 col-sm-3">
                        <div class="yjfz_mbox">
                            <img src="__GX__/asset/images/w300h300.png" style="background:url('__GX__/asset/images/17.png') no-repeat center center/cover;" class="img-responsive" alt="">
                            <div class="yjfz_mbg"></div>
                            <span>专业稳定</span>
                        </div>
                    </li>
                    <li class="col-xs-6 col-sm-3">
                        <div class="yjfz_mbox">
                            <img src="__GX__/asset/images/w300h300.png" style="background:url('__GX__/asset/images/17.png') no-repeat center center/cover;" class="img-responsive" alt="">
                            <div class="yjfz_mbg"></div>
                            <span>技术传承</span>
                        </div>
                    </li>
                    <li class="col-xs-6 col-sm-3">
                        <div class="yjfz_mbox">
                            <img src="__GX__/asset/images/w300h300.png" style="background:url('__GX__/asset/images/17.png') no-repeat center center/cover;" class="img-responsive" alt="">
                            <div class="yjfz_mbg"></div>
                            <span>行业一流</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="yjfz_main2 clear">
            <img src="__GX__/asset/images/9.png" alt="">
            <div class="yjfz_m2cont">
                <p>     公司以生物科技为核心，专业从事工业大麻种植、综合利用加工，以新型农业为依托，涵盖农业、工业、生物科技等产业链。通过和国内外新型农业种植、生物科技知名企业以及高校、科研机构知名专家及团队的深度合作，优化产业发展模式，深度挖掘工业大麻利用价值。总投资3亿元人民币，在昆明市石林县建立100亩的加工基地及50000亩的工业大麻种植基地，以产业链模式带动当地经济发展、农民致富、解决就业，最终实现工业大麻造福于人类健康的终极目标。</p>
            </div>
            <div class="yjfz_m2l">
                <div class="yjfz_m2l_box">
                    <p>
                        <span>发展战略</span>
                        <i>Development</i>
                    </p>
                </div>
               
                
            </div>
        </div>
        <div class="container">
            <div class="yjfz_main3">
                <div class="yjfz_m3title">
                    <p>大麻二酚的医疗应用</p>
                </div>
                <div class="yjfz_m3cont">
                    <p>止痛抗炎：CBD通过对环氧合酶和脂氧合酶的双重抑制来发挥止痛和抗炎作用，且效果强于人们所熟知和广泛运用的阿司匹林。</p>
                    <p>抗癫痫：人类大脑中的GABA 神经递质有镇静效果，抑制大脑中枢的兴奋性。CBD可以帮助控制GABA神经递质的消耗量，抑制大脑兴奋，降低癫痫发作，还可以帮助提高其他抗癫痫药物的疗效。</p>
                    <p>抗焦虑：内源性大麻素是帮助抑郁症病人降低焦虑情绪的一种重要物质，存在于人体内。CBD能够帮助内源性大麻素维持在一个合理的水平，让病人身体感觉良好、愉悦，又不会像THC一样成瘾。</p>
                </div>
            </div>
        </div>
    </div>
{include file='footer' /}