{extend name="base" /}
{block name="body"}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info info_box">
                <div class="box-header with-border">
                    <h3 class="box-title">会员信息</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!--表单数据-->
                    <form method="post" id="adminHandle" action="">
                    <input type="hidden" name="id" value="{$info.id}">
                    <div class="tab-content col-md-10">                       
                        <div class="tab-pane active" id="tab_tongyong">                           
                            <table class="table table-bordered">
                                <tr>
                                    <td class="col-sm-2">用户名：</td>
                                    <td class="col-sm-8">
                                        <input type="text" class="form-control" name="user_name" value="{$info.user_name}"  placeholder="用户名">
                                    </td>
                                </tr>  
                                <tr>
                                    <td>昵称：</td>
                                    <td>
                                        <input type="text" class="form-control" name="nick_name" value="{$info.nick_name}"  placeholder="昵称">                          
                                    </td>
                                </tr>
                                <tr>
                                    <td>手机号码：</td>
                                    <td>
                                        <input type="text" class="form-control" id="phone" value="{$info.phone}" name="mobile" placeholder="手机号码" onkeyup="value=value.replace(/[^0-9]/g,'')" onpaste="value=value.replace(/[^0-9]/g,'')" oncontextmenu = "value=value.replace(/[^0-9]/g,'')" >
                                    </td>
                                </tr>
                                <tr>
                                    <td>登录密码：</td>
                                    <td>
                                        <input type="password" class="form-control" name="login_pass" placeholder="登录密码">
                                    </td>
                                </tr>
                                <tr>
                                    <td>支付密码：</td>
                                    <td>
                                        <input type="password" class="form-control" id="pay_pass" name="pay_pass" placeholder="支付密码">
                                    </td>
                                </tr>
                                <tr>
                                    <td>性别：</td>
                                    <td>{$info.usex}</td>
                                </tr>
                                
                                <tr>
                                    <td></td>
                                    <td class="text-right">
                                        <button class="btn btn-primary" lay-submit lay-filter="*" >保存</button>
                                    </td>
                                </tr>
                            </table>
                        </div>                           
                    </div>              
                    </form><!--表单数据-->
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

{/block}