{extend name="base" /}
{block name="body"}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">会员列表</h3>
                </div>
                <!-- search -->
                <div class="panel-body mb0">
                    <div class="navbar navbar-default mb0">
                        <form class="navbar-form form-inline" method="post" action="{:url('admin/user/index')}">
                            <div class="form-group">
                                <label class="control-label">用户名/昵称/手机号码:</label>
                                <div class="input-group">
                                    <input class="form-control input-sm" name="keywords" value="{$keywords}" type="text" >
                                </div>
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i> 筛选
                                </button>
                            </div>
                            <a href="{:url('admin/user/add')}" class="btn btn-info pull-right">添加</a>
                        </form>
                    </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr role="row">
                                    <th>ID</th>
                                    <th>用户名</th>
                                    <th>昵称</th>
                                    <th>手机号码</th>
                                    <th>上级用户</th>
                                    <th>注册时间</th>
                                    <th>操作</th>
                               </tr>
                            </thead>
                            <tbody>
                                {foreach name="list" item="vo" key="k"}
                                    <tr role="row">
                                        <td>{$vo.id}</td>
                                        <td>{$vo.user_name}</td>
                                        <td>{$vo.nick_name}</td>
                                        <td>{$vo.phone}</td>
                                        <td>{$vo.pname}</td>
                                        <td>{$vo.addtime|date="Y-m-d H:i",###}</td>
                                        <td>
                                            <a href="{:url('admin/user/edit',['id'=>$vo['id']])}" class="btn btn-sm btn-primary">编辑</a>
                                            <a href="{:url('admin/user/del',['id'=>$vo['id']])}" onclick="return confirm('确定删除吗?')" class="btn btn-sm btn-danger" >删除</a>
                                            <a href="{:url('admin/user/recharge',['uid'=>$vo['id']])}" class="btn btn-sm btn-default">充值记录</a>
                                            <a href="{:url('admin/user/withdraw',['uid'=>$vo['id']])}" class="btn btn-sm btn-success">提现记录</a>
                                            <a href="{:url('admin/user/backm',['uid'=>$vo['id']])}" class="btn btn-sm btn-warning">返佣记录</a>
                                            <a href="{:url('admin/user/accountlog',['uid'=>$vo['id']])}" class="btn btn-sm btn-info">资金流动</a>
                                            <a href="{:url('admin/user/chat',['uid'=>$vo['id']])}" class="btn btn-sm btn-gray">群聊列表</a>
                                        </td>
                                    </tr>
                                {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm pull-right">
                        {$pages}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>
{/block}
